@import './base.css';

:root {
  --color-page: #1e1e24;
  --color-background-1: #403d39;
  --color-background-2: #252422;
  --color-background-3: #403d39;
  --color-player: #a7c957;
  --color-player-dead: #f94144;
  --color-foe-1: #8a817c;
  --color-checkpoint: #52b788;
}
